<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/watches">Collection</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li style="float:left"><a class="active" href="/">The Hybrid Watch Store</a></li>
      </ul>
</nav>