<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Watch Store</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <!-- Page Header-->
    <header class="masthead">
        <div class="container text-center">
            <h1 class="index">Welcome to Our Watch Store!</h1>
            <h2 class="index">Find Your Perfect Timepiece</h2>
            <img src="assets/img/hero.jpg" alt="Hero Image" class="hero-image">
        </div>
    </header>
    <!-- Footer-->
    <%- include('layouts/footer'); -%>
    <!-- Scripts-->
    <%- include('layouts/scripts'); -%>
</body>

</html>
